/** {*/
/*    outline: 1px solid red;*/
/*}*/

:root {
    --background-color: #f2f2f7;
    --text-color: black;
    --shadow-intencity: .3;
}

:root[theme="dark"] {
    --background-color: #262629;
    --text-color: #b5b5b5;
    --shadow-intencity: .6;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 14rem;
    background-color: var(--background-color);
}

/*region header*/
header {
    display: flex;
    padding: .25rem;
    align-items: center;
    justify-content: space-between;
}

#github-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem;
    transition: box-shadow .3s ease;
}

#github-link > img {
    width: 1.5rem;
    height: 1.5rem;
}

#github-link:active {
    transform: scale(.95);
}

#dark-mode-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: .25rem;
    cursor: pointer;
    background-color: transparent;
    transition: box-shadow .3s ease;
}

#dark-mode-button > img {
    width: 1.5rem;
    height: 1.5rem;
}

#dark-mode-button:active {
    transform: scale(.95);
}

/*endregion*/

/*region main*/
main {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: .25rem;
    gap: 1.5rem;
}

#main-image {
    width: 8rem;
    height: 8rem;
}

#scan-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, var(--shadow-intencity));
    transition: box-shadow .3s ease;
    color: var(--text-color);
}

#scan-button:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, var(--shadow-intencity));
}

#scan-button:active {
    transform: scale(.95);
}

footer {
    display: flex;
    justify-content: center;
    padding: .5rem;
}

/*endregion*/